@import "tailwindcss";

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    min-height: 100vh;
    min-height: 100dvh;
    overflow-x: hidden;
    background: radial-gradient(circle at center, #363636 0%, #000000 100%);
    background-attachment: fixed;
}